{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "linebreak-style": 0
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true,
  },
  "globals": {
    "window": true,
    "document": true,
  },
}
